.current {
  color: green !important;
}

.nav {
    background-color: #b3e5b3;
    width: fit-content;
    border-style: solid;
    border-width: thick;
    border-radius: 10px;
    font-size: x-large;
    padding: 5px 14px;
    color: white;
}

.navlink {
    background-color: #ffffff;
    width: auto;
    margin: 10px auto;
    display: block;
    padding: 10px;
    border: 5px;
    border-radius: 7px;
    border-style: solid;
    text-align: center;
}
